Undefined function

Their is a call to BaseService->getService() in /src/POData/Providers/Stream/StreamProviderWrapper.php  on line on line 439. but the function is never defined. I can not find anything in the git log that indicates it has ever been defined. 

After looking at the calls of it i believe the function function should return the providers for future use. taking in an interface name and returns something that implements it.

documentation indicates services should have implemented IServiceProvider. and the function SHOULD have looked something like this.

``` php

    public function getService($serviceType)
    {
        switch($serviceType){
        case 'IMetadataProvider':
            return $this->Metadata;
        case 'IQueryProvider':
            return $this->QueryProvider;
        case 'IStreamProvider':
            return  $this-?StreamProvider
        default:
            return null;
        }
    }
```

But i think we should look into other uses, to see if this case was supposed to be replaced with something else in the future.


Getservice is only called from StreamProviderWrapper so i believe the most practical way to cover it is to is to as such i would surgest that the SimpleDataService constructor be extended to accept a stream provider, and function be provided fetch the stream provider from the wrapper.


Ok I believe the stream provider needs to be reworked to provide adequate third party implementation with data streams. Specifically because odata is not data aware the blob data maybe in a database, Or be a file. It may even be a proxy over to a s3 bucket.

I believe the nature of streams is inherited from the atom protocol (Specifically RFC 5023 section 9.6) which  needs to be further documented specifically relating interactions between the media link entry and the resources. Which my understandkng is must be created as a pair. But the resources should  be created first.

This needs to be further documented. Before we embark on any improvement to the stream provider. As I believe it will have to couple with the query provider. 

Finally it is important that we.make sure the stream provider does work with streams as they could risk being very large and may create memory exhaustion if not piped directly to output. 

Closing - superseded by #242 